/*!
*
*
*
*
* start brands stylesheets
*
*
*
*
*
*/


// vars


jcb = #FCB026 //J.C.B
massey-ferguson = #c41230 //massey ferguson
fendt = #2dba03 //fendt
dressta = #047eb1 //dressta
iseki = #0068b7 //iseki
claas = #d30a00 //Claas
amazone = #e97714 //Amazone
asv = #a1c02f //ASV
mahindra = #e41937 //mahindra
yeomans-plow = #ff0f00 //yeomans plow 


/* brandCarousel  */
div.brandCarousel a.jcb i
    color: jcb
div.brandCarousel a.jcb
    border-color: jcb !important

div.brandCarousel a.massey-ferguson
    border-color: massey-ferguson !important
div.brandCarousel a.massey-ferguson i
    color: massey-ferguson

div.brandCarousel a.fendt
    border-color: fendt !important
div.brandCarousel a.fendt i
    color: fendt

div.brandCarousel a.dressta
    border-color: dressta !important
div.brandCarousel a.dressta i
    color: dressta

div.brandCarousel a.iseki
    border-color: iseki !important
div.brandCarousel a.iseki i
    color: iseki

div.brandCarousel a.claas
    border-color: claas !important
div.brandCarousel a.claas i
    color: claas    

div.brandCarousel a.amazone
    border-color: amazone !important
div.brandCarousel a.amazone i
    color: amazone

div.brandCarousel a.asv
    border-color: asv !important
div.brandCarousel a.asv i
    color: asv
    
div.brandCarousel a.mahindra
    border-color: mahindra !important
div.brandCarousel a.mahindra i
    color: mahindra

div.brandCarousel a.yeomans-plow
    border-color: yeomans-plow !important
div.brandCarousel a.yeomans-plow i
    color: yeomans-plow    


// branded CTA outside brand pages
.ctaButton.jcb
    background-color: jcb !important
    border-color: jcb !important
.ctaButton.massey-ferguson
    background-color: massey-ferguson !important
    border-color: massey-ferguson !important
.ctaButton.fendt
    background-color: fendt !important
    border-color: fendt !important
.ctaButton.dressta
    background-color: dressta !important
    border-color: dressta !important
.ctaButton.iseki
    background-color: iseki !important
    border-color: iseki !important
.ctaButton.claas
    background-color: claas !important
    border-color: claas !important
.ctaButton.amazone
    background-color: amazone !important
    border-color: amazone !important
.ctaButton.asv
    background-color: asv !important
    border-color: asv !important
.ctaButton.mahindra
    background-color: mahindra !important
    border-color: mahindra !important
.ctaButton.yeomans-plow 
    background-color: yeomans-plow  !important  
    border-color: yeomans-plow  !important  


// logo size mods    
a.jcb img
    max-height:30px !important
    width: auto !important
a.massey-ferguson img
    max-height:42px !important
    width: auto !important
a.fendt img
    max-height:15px !important 
    width: auto !important
a.dressta img
    max-width:120px !important
    width: auto !important
a.amazone img
    max-width:140px !important 
    height: auto !important      
a.asv img
    max-height:25px !important 
    width: auto !important   
a.mahindra img
    max-width:120px !important 
    width: auto !important   
a.yeomans-plow img
    max-height:42px !important
    width: auto !important   






// dropdown and in-page theming
div.ddownOuter.jcb a.ddownClose i,
div.catItem.jcb a i
    color: jcb
div.ddownOuter.jcb div.ddownInner section:first-child
    border-right-color: jcb
div.ddownOuter.jcb div.ddownInner nav i
    background-color: jcb
div.catItem.jcb
    border-bottom-color: jcb !important

div.ddownOuter.massey-ferguson a.ddownClose i,
div.catItem.massey-ferguson a i
    color: massey-ferguson
div.ddownOuter.massey-ferguson div.ddownInner section:first-child
    border-right-color: massey-ferguson
div.ddownOuter.massey-ferguson div.ddownInner nav i
    background-color: massey-ferguson
div.catItem.massey-ferguson
    border-bottom-color: massey-ferguson !important

div.ddownOuter.fendt a.ddownClose i,
div.catItem.fendt a i
    color: fendt
div.ddownOuter.fendt div.ddownInner section:first-child
    border-right-color: fendt
div.ddownOuter.fendt div.ddownInner nav i
    background-color: fendt
div.catItem.fendt
    border-bottom-color: fendt !important

div.ddownOuter.dressta a.ddownClose i,
div.catItem.dressta a i
    color: dressta
div.ddownOuter.dressta div.ddownInner section:first-child
    border-right-color: dressta
div.ddownOuter.dressta div.ddownInner nav i
    background-color: dressta
div.catItem.dressta
    border-bottom-color: dressta !important

div.ddownOuter.iseki a.ddownClose i,
div.catItem.iseki a i
    color: iseki
div.ddownOuter.iseki div.ddownInner section:first-child
    border-right-color: iseki
div.ddownOuter.iseki div.ddownInner nav i
    background-color: iseki
div.catItem.iseki
    border-bottom-color: iseki !important

div.ddownOuter.claas a.ddownClose i,
div.catItem.claas a i
    color: claas
div.ddownOuter.claas div.ddownInner section:first-child
    border-right-color: claas
div.ddownOuter.claas div.ddownInner nav i
    background-color: claas
div.catItem.claas
    border-bottom-color: claas !important

div.ddownOuter.amazone a.ddownClose i,
div.catItem.amazone a i
    color: amazone
div.ddownOuter.amazone div.ddownInner section:first-child
    border-right-color: amazone
div.ddownOuter.amazone div.ddownInner nav i
    background-color: amazone
div.catItem.amazone
    border-bottom-color: amazone !important    

div.ddownOuter.asv a.ddownClose i,
div.catItem.asv a i
    color: asv
div.ddownOuter.asv div.ddownInner section:first-child
    border-right-color: asv
div.ddownOuter.asv div.ddownInner nav i
    background-color: asv
div.catItem.asv
    border-bottom-color: asv !important

div.ddownOuter.mahindra a.ddownClose i,
div.catItem.mahindra a i
    color: mahindra
div.ddownOuter.mahindra div.ddownInner section:first-child
    border-right-color: mahindra
div.ddownOuter.mahindra div.ddownInner nav i
    background-color: mahindra
div.catItem.mahindra
    border-bottom-color: mahindra !important

div.ddownOuter.yeomans-plow a.ddownClose i,
div.catItem.yeomans-plow a i
    color: yeomans-plow
div.ddownOuter.yeomans-plow div.ddownInner section:first-child
    border-right-color: yeomans-plow
div.ddownOuter.yeomans-plow div.ddownInner nav i
    background-color: yeomans-plow
div.catItem.yeomans-plow
    border-bottom-color: yeomans-plow !important












/* brand silos */
body.jcb
    colors = '#breadcrumb nav i:before,
    div.keyStats span,
    div.catList i:before,
    .brand,
    h1, 
    h2,
    main a.ctaButton:hover'
    {colors}
        color: jcb !important
    borders = 'main hr,
    .thumbImg a.activeLink,
    div.keyStats p,
    main a.ctaButton,
    table.rowResponsive tbody tr '
    {borders}
        border-color: jcb !important 
    bgs = 'main a.ctaButton,
    table.rowResponsive thead '
    {bgs}
        background-color: jcb 
    brandHR = 'main hr'
    {brandHR}
        border-bottom-width: 3px

body.massey-ferguson
    colors = '#breadcrumb nav i:before,
    div.keyStats span,
    div.catList i:before,
    .brand,
    h1, 
    h2,
    main a.ctaButton:hover'
    {colors}
        color: massey-ferguson !important
    borders = 'main hr,
    .thumbImg a.activeLink,
    div.keyStats p,
    main a.ctaButton,
    table.rowResponsive tbody tr '
    {borders}
        border-color: massey-ferguson !important 
    bgs = 'main a.ctaButton,
    table.rowResponsive thead '
    {bgs}
        background-color: massey-ferguson 
    brandHR = 'main hr'
    {brandHR}
        border-bottom-width: 3px

body.fendt
    colors = '#breadcrumb nav i:before,
    div.keyStats span,
    div.catList i:before,
    .brand,
    h1, 
    h2,
    main a.ctaButton:hover'
    {colors}
        color: fendt !important
    borders = 'main hr,
    .thumbImg a.activeLink,
    div.keyStats p,
    main a.ctaButton,
    table.rowResponsive tbody tr '
    {borders}
        border-color: fendt !important 
    bgs = 'main a.ctaButton,
    table.rowResponsive thead '
    {bgs}
        background-color: fendt 
    brandHR = 'main hr'
    {brandHR}
        border-bottom-width: 3px        

body.dressta
    colors = '#breadcrumb nav i:before,
    div.keyStats span,
    div.catList i:before,
    .brand,
    h1, 
    h2,
    main a.ctaButton:hover'
    {colors}
        color: dressta !important
    borders = 'main hr,
    .thumbImg a.activeLink,
    div.keyStats p,
    main a.ctaButton,
    table.rowResponsive tbody tr '
    {borders}
        border-color: dressta !important 
    bgs = 'main a.ctaButton,
    table.rowResponsive thead '
    {bgs}
        background-color: dressta 
    brandHR = 'main hr'
    {brandHR}
        border-bottom-width: 3px        


body.iseki
    colors = '#breadcrumb nav i:before,
    div.keyStats span,
    div.catList i:before,
    .brand,
    h1, 
    h2,
    main a.ctaButton:hover'
    {colors}
        color: iseki !important
    borders = 'main hr,
    .thumbImg a.activeLink,
    div.keyStats p,
    main a.ctaButton,
    table.rowResponsive tbody tr '
    {borders}
        border-color: iseki !important 
    bgs = 'main a.ctaButton,
    table.rowResponsive thead '
    {bgs}
        background-color: iseki 
    brandHR = 'main hr'
    {brandHR}
        border-bottom-width: 3px   

body.claas
    colors = '#breadcrumb nav i:before,
    div.keyStats span,
    div.catList i:before,
    .brand,
    h1, 
    h2,
    main a.ctaButton:hover'
    {colors}
        color: claas !important
    borders = 'main hr,
    .thumbImg a.activeLink,
    div.keyStats p,
    main a.ctaButton,
    table.rowResponsive tbody tr '
    {borders}
        border-color: claas !important 
    bgs = 'main a.ctaButton,
    table.rowResponsive thead '
    {bgs}
        background-color: claas 
    brandHR = 'main hr'
    {brandHR}
        border-bottom-width: 3px   


body.amazone
    colors = '#breadcrumb nav i:before,
    div.keyStats span,
    div.catList i:before,
    .brand,
    h1, 
    h2,
    main a.ctaButton:hover'
    {colors}
        color: amazone !important
    borders = 'main hr,
    .thumbImg a.activeLink,
    div.keyStats p,
    main a.ctaButton,
    table.rowResponsive tbody tr '
    {borders}
        border-color: amazone !important 
    bgs = 'main a.ctaButton,
    table.rowResponsive thead '
    {bgs}
        background-color: amazone 
    brandHR = 'main hr'
    {brandHR}
        border-bottom-width: 3px   

body.asv
    colors = '#breadcrumb nav i:before,
    div.keyStats span,
    div.catList i:before,
    .brand,
    h1, 
    h2,
    main a.ctaButton:hover'
    {colors}
        color: asv !important
    borders = 'main hr,
    .thumbImg a.activeLink,
    div.keyStats p,
    main a.ctaButton,
    table.rowResponsive tbody tr '
    {borders}
        border-color: asv !important 
    bgs = 'main a.ctaButton,
    table.rowResponsive thead '
    {bgs}
        background-color: asv 
    brandHR = 'main hr'
    {brandHR}
        border-bottom-width: 3px   

body.mahindra
    colors = '#breadcrumb nav i:before,
    div.keyStats span,
    div.catList i:before,
    .brand,
    h1, 
    h2,
    main a.ctaButton:hover'
    {colors}
        color: mahindra !important
    borders = 'main hr,
    .thumbImg a.activeLink,
    div.keyStats p,
    main a.ctaButton,
    table.rowResponsive tbody tr '
    {borders}
        border-color: mahindra !important 
    bgs = 'main a.ctaButton,
    table.rowResponsive thead '
    {bgs}
        background-color: mahindra 
    brandHR = 'main hr'
    {brandHR}
        border-bottom-width: 3px   

body.yeomans-plow
    colors = '#breadcrumb nav i:before,
    div.keyStats span,
    div.catList i:before,
    .brand,
    h1, 
    h2,
    main a.ctaButton:hover'
    {colors}
        color: yeomans-plow !important
    borders = 'main hr,
    .thumbImg a.activeLink,
    div.keyStats p,
    main a.ctaButton,
    table.rowResponsive tbody tr '
    {borders}
        border-color: yeomans-plow !important 
    bgs = 'main a.ctaButton,
    table.rowResponsive thead '
    {bgs}
        background-color: yeomans-plow 
    brandHR = 'main hr'
    {brandHR}
        border-bottom-width: 3px   
