/*!
* generated using stylus - don't alter
*/

// libs and default 3rd party
@import 'nib'
// setup
@import '../fonts/avenir/stylesheet.css'
// setup
@require 'defaults.styl'
// block, nav etc
@require 'layout.styl'
// custom elements, icons
@require 'elements.styl'
// typography, links
@require 'typo.styl'






/* effects */
.multiply
    background-blend-mode: multiply
    /*background-color: blackAlp25*/
.bgoverlay0
    background-color: blackAlp10 !important
.bgoverlay1
    background-color: blackAlp25 !important
.bgoverlay2
    background-color: blackAlp50 !important
.bgoverlay3
    background-color: blackAlp75 !important

.multiplyBlack
    background-color: brand1
.multiplyRed
    background-color: brand2
.multiplyGreen
    background-color: brand3

.lighten1
    background-color: rgba(255,255,255,0.8)
    background-blend-mode: overlay
    //filter:grayscale(80%)
.lighten2
    background-color: rgba(255,255,255,0.50)
    background-blend-mode: overlay
    //filter:grayscale(80%)
.greyscale
    background-color: rgba(0,0,0,0.30)
    filter:grayscale(100%)
    transition: 1s
.greyscaleLt
    filter:grayscale(0%)
    transition: 2.5s
.bgoffer
    background-color: rgba(222,30,33,1.0) //# offer

.burnColor
    background-blend-mode: color-burn
    opacity: 1.0

/* CHANGE BELOW TO THIS % FORMAT
	.spookyTown {
			background-image: linear-gradient(to right, 
			var(--base-dk_100), 
			var(--base-dk_100) 5%, 
			var(--base-dk_0) 35%, 
			var(--base-dk_0) 65%, 
			var(--base-dk_100) 95%, 
			var(--base-dk_100)
			);
		}	
*/

.gradient25
    background-blend-mode: normal
    background: linear-gradient(135deg, 
    brand1,
    brand0 25%,
    brand2 75%) 
.gradient50
    background-blend-mode: normal
    background: linear-gradient(135deg, 
    brand1,
    brand0 50%,
    brand2)
.gradient75
    background-blend-mode: normal
    background: linear-gradient(135deg, 
    brand1 25%,
    brand0 55%,
    brand2 95%)
.gradientFade1
    background-blend-mode: normal
    background: linear-gradient(135deg, 
    blackAlp90 10%,
    blackAlp75 30%,
    blackAlp50 60%,
    blackAlp5 90%)    
.gradientShdw
    background-image: linear-gradient(to bottom, blackAlp5, transparent 10vh)
@media mtrigger
    .gradient3
        background-blend-mode: normal
        background: linear-gradient(to right bottom, white, whiteAlp90, whiteAlp90, whiteAlp10)
.blur
    filter:blur(10px)



// last in the cascade - highest prio
.m
    @media screen and (min-width: tBreakPoint)
        display: $hideItAll
.d
    @media screen and (max-width: tBreakPoint)
        display: $hideItAll

