// typo defaults
a:link, a:visited
    color: brand1
    text-decoration: none
a:hover, a:active
    color: brand2
    text-decoration: underline
p a:link,
p a:visited,
li a:link,
li a:visited
h2 a:link,
h2 a:visited,
h3 a:link,
h3 a:visited
    text-decoration: underline
@media (pointer: fine)
    h2 a:hover,
    h3 a:hover
        text-decoration: none !important
.activeLink
    font-weight: 800 !important

.secLink
    text-decoration: underline !important

// custom typo
ul
    margin-bottom: 2em
    padding-left: 1em

ul li
    line-height: 1.4em
    margin-bottom: 0.4em
    list-style-type: disc

// nav lists
.catGroup nav
    margin-top: 1em
nav ul,
nav ol
    margin: 0
    padding: 0
nav ul li,
nav ol li
    list-style-type: none
nav ol
    margin-left: 1.5em
nav ul li h6,   
nav ul li
    line-height: 1.7em
nav ul li a,
nav ol li a
    text-decoration: none !important
div.catSidebar nav
    margin-bottom:marM
div.catSidebar nav ul
    border-top: 1px solid brand0
    padding-top:padXXS
    margin-top:marXXS
@media (pointer: fine)
    nav ul li a:hover,
    nav ol li a:hover
        text-decoration: underline !important


// picturefill-bg and image teaser
*.picturefill-background,
*.picturefill-background a
    color: white 
*.picturefill-background .lighttext *,
*.picturefill-background .lighttext a
    color: white  
*.picturefill-background.lighten1,
*.picturefill-background.lighten1 a,
*.picturefill-background.lighten2,
*.picturefill-background.lighten2 a
*.picturefill-background .darktext *,
*.picturefill-background .darktext a
    color: brand1    
*.picturefill-background a
    //text-decoration: underline



.activeLink, 
nav a:hover,
p a:hover,
li a:hover
    color: brand2 !important
    transition: 250ms
    text-decoration: none !important
@media (pointer: fine)
    nav a:hover
        //color: red !important
.activeLink,
.activeLink:hover
    color: brand2 !important

// nav typo
nav a
    //font-weight:500 !important
    font-size:1em
    padding: 0 padXS*0.9 0 0
    color: brand1

/* dark slider nav */    
body.darkSlider > header.fixed .siteLogo span,
body.darkSlider > header.fixed nav a.activeLink
    color: brand2 !important
body.darkSlider > header.fixed nav a,
body.darkSlider > header.fixed nav a.ctaButton
    color: brand4 !important
    border-color: brand4 !important
body.darkSlider > header.fixed nav a:hover
    color: brand2 !important
    border-color: brand2 !important
/* light slider nav */    
body.lightSlider > header.fixed .siteLogo span,
body.lightSlider > header.fixed nav a.activeLink
    color: brand2 !important
body.lightSlider > header.fixed nav a,
body.lightSlider > header.fixed nav a.ctaButton
    color: brand1 !important
    border-color: brand1 !important
body.lightSlider > header.fixed nav a:hover
    color: brand2 !important
    border-color: brand1 !important
    
/* dark theme navs */ 
body.darkTheme > header.sticky .siteLogo span,
body.darkTheme > header.sticky nav a.activeLink
    color: brand5 !important
body.darkTheme > header.sticky nav a,
body.darkTheme > header.sticky nav a.ctaButton
    color: brand0 !important
    border-color: brand0 !important    
body.darkTheme > header.sticky nav a:hover
    color: brand5 !important
    border-color: brand5 !important


/* light theme navs */
body.lightTheme > header.sticky .siteLogo span,
body.lightTheme > header.sticky nav a.activeLink
    color: brand1 !important
body.lightTheme > header.sticky nav a,
body.lightTheme > header.sticky nav a.ctaButton
    color: brand2 !important
    border-color: brand2 !important    
body.lightTheme > header.sticky nav a:hover
    color: brand1 !important
    border-color: brand1 !important


h1, h2, h3, h4 ,h5, h6
    margin: 0
    margin-bottom: 5px
    color: brand0
p 
    color: brand1
// defaults   
h1
    font-weight: 1000
    font-size: 3em
    line-height: 105%
    letter-spacing: -0.03em
h1 span
    font-weight: 300
    letter-spacing: -0.02em    
h2
    font-weight: 1000
    font-size: 2.2em
    line-height: 105%
    letter-spacing: -0.045em
h2 span
    font-weight: 300
    letter-spacing: -0.015em    
h3, body.model h2
    font-weight: 500
    font-size: 1.6em
    line-height: 115%
    letter-spacing: -0.025em
h3 span
    font-weight: 300
    letter-spacing: -0.01em  
div.catItem h3 
    font-weight: 400
    font-size: 1.2em
    color: brand1
div.catGroup.feature div.catItem h3
    font-weight: 900
    font-size: 1.6em
    color: brand0
h4
    font-weight: 700
    font-size: 1.3em
    line-height: 120%
    letter-spacing: -0.01em
h4 span
    font-weight: 400  
div.catItem h4 
    font-size: 1.5em
div.catItem h4 strong 
    font-weight: 900  


h5
    font-weight: 700
    font-size: 1.2em
    line-height: 125%
    letter-spacing: -0.04em
h5 span
    font-weight: 400
    letter-spacing: -0.01em      
h6
    font-weight: 400
    font-size:1em
    line-height: 130%
    letter-spacing: -0.015em
p
    font-weight: 400
    font-size: 1em
    line-height: 1.4em
    letter-spacing: -0.02em
    margin-top: 0.5em
    margin-bottom: 0.5em
li
    font-weight: 400
    font-size: 1em
    line-height: 1.4em
    letter-spacing: -0.02em 
td
    font-weight: 350
    font-size: 0.95em
    line-height: 1.35em
    letter-spacing: -0.025em    
strong 
    font-weight: 900
    letter-spacing: -0.015em

// modify typo
.small
    font-size: 0.8em
    letter-spacing: 0  
.tiny
    font-size: 50%    
.price
    color: brand6
.noWrap 
    white-space: nowrap
.importedHTML
    color: brand1
    line-height: 1.8em
    margin-bottom: marXS
.strike
    text-decoration: line-through

// footer
body > footer p,
body > footer p a:link,
body > footer p a:visited,
body > footer a:link,
body > footer a:visited,
body > footer
    font-size:1em
    line-height: 160%
    color: white 
    text-decoration: none 
body > footer h4,
body > footer h5,
body > footer h6
    font-weight: 700
    line-height: 120%
    margin-bottom: 0.75em
    color: white


@media mtrigger
    h1
        font-size: 2.2em   
        line-height: 110%
    *.picturefill-background h1
        font-size: 2em   
        line-height: 110%    
    h2
        font-size: 1.8em
        line-height: 110%
    h3
        font-size: 1.4em
        line-height: 110%
    h4
        font-size: 1.6em
        line-height: 110%
    h5
        font-size: 1.2em
        line-height: 110%
    h6
        font-size: 1.1em
        line-height: 110%

    p
        font-size: 1em
        line-height: 1.2em




@media ttrigger 
    .secTitle
        font-size: 7em
        font-weight: 650
        letter-spacing: -0.045em
        text-indent: -0.08em
        color:brand4
    p.inset
        max-width: 80%





/* art direction typo for banners */
@media ttrigger
    .slideItem p:not(.small)
        font-size:140%
    .xl
        font-size:350%
        line-height: 95%



/* simple link with icon */
a.hasIcon
    line-height: 1.2em
    font-size: 110%
    font-weight: 900
    color: brand0
    text-decoration: none !important
    padding-left: 0
    margin-left: 18px
    display inline-block
    position: relative
    transition: 0.3s
a.hasIcon:hover
    color: brand2 
    transform: translateX(-18px)   
a.hasIcon::before
    font-family: 'icomoon' !important
    position: absolute
    margin-left: -21px
    margin-top: -2px
a.hasIcon.back::before
    content: '\e905'






/* product page mods */
.prodTitle
    margin-bottom: 0.5em

@media ttrigger
    .prodTitle h1
        max-width: 40vw
