/* =============================================================================
   webfonts
   ========================================================================== */
@font-face {
    font-family: 'avenir';
    src: url('/fonts/avenir/avenirltstd-light.woff2') format('woff2'),
         url('/fonts/avenir/avenirltstd-light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'avenir';
    src: url('/fonts/avenir/avenirltstd-book.woff2') format('woff2'),
         url('/fonts/avenir/avenirltstd-book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'avenir';
    src: url('/fonts/avenir/avenirltstd-roman.woff2') format('woff2'),
         url('/fonts/avenir/avenirltstd-roman.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'avenir';
    src: url('/fonts/avenir/avenirltstd-medium.woff2') format('woff2'),
         url('/fonts/avenir/avenirltstd-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'avenir';
    src: url('/fonts/avenir/avenirltstd-heavy.woff2') format('woff2'),
         url('/fonts/avenir/avenirltstd-heavy.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}



@font-face {
    font-family: 'avenir';
    src: url('/fonts/avenir/avenirltstd-black.woff2') format('woff2'),
         url('/fonts/avenir/avenirltstd-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}





